  <nav class="navbar navbar-default">
  <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button> 
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav"></ul>
    <ul class="nav navbar-nav navbar-right">
		<li class="nav-item"><a class="nav-link" style="padding-top: 25px;" href="/">Search</a></li>
        <li class="nav-item"><a class="nav-link" style="padding-top: 25px;"  href="/watching">Watching</a></li>
        <li class="nav-item"><a class="nav-link"><form class="nav-link" action="/reset" method="POST">
            <button type="submit" id="reset-search" class="btn btn-danger" name="reset-search">Reset</button>
        </form></a></li>
    </ul>
  </div><!--/.nav-collapse -->
</nav><!--/.nav -->